{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block title %}Quiz - Phishing Training{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
{% endblock %}

{% block page_title %}Quiz{% endblock %}

{% block content %}
    <div class="quiz-container">
        {% include sim_template %}
        <form>
            {% csrf_token %}
            <div class="quiz-question">
                <p>{{ question_number }}. Is this a legitimate email?</p>
                <label>
                    <input type="radio" name="answer" value="yes"> Yes
                </label>
                <br >
                <label>
                    <input type="radio" name="answer" value="no"> No
                </label>
            </div>

            <div class="next-prev-buttons">
                <button type="submit">Previous</a>
                <button type="submit">Next</a>
            </div>
        </form>
    </div>
{% endblock %}