{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block title %}Quiz Selection - Phishing Training{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
{% endblock %}

{% block page_title %}Report{% endblock %}

{% block content %}
    <form class="report-form" method="post" >
        {% csrf_token %}
        <div class="report-section">
            <h2>1. Beginner Level (Basic Awareness)</h2>
            <button type="submit" name="action" value="easy" class="view-report">Take Quiz</button>
        </div>
        <div class="report-section">
            <h2>2. Intermediate Level (Recognizing Attacks)</h2>
            <button type="submit" name="action" value="medium" class="view-report">Take Quiz</button>
        </div>
        <div class="report-section">
            <h2>3. Advanced Level (Handling Phishing Attempts)</h2>
            <button type="submit" name="action" value="hard" class="view-report">Take Quiz</button>
        </div>
    </form>
{% endblock %}