{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block title %}{{ difficulty }} Quiz - Phishing Training{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
{% endblock %}

{% block page_title %}{{ difficulty }} Quiz{% endblock %}

{% block content %}
    <form class="quiz-form" method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="back" class="back-button">All Quizes</button>    
        <div class="quiz-container">
            {% include sim_template %}
            <div class="quiz-question">
                <p>{{ question_number }}. Is this a phishing email?</p>
                <label>
                    <input type="radio" name="answer" value="yes"> Yes
                </label>
                <br >
                <label>
                    <input type="radio" name="answer" value="no"> No
                </label>
            </div>

            <div class="next-prev-buttons">
                <button type="submit" name="action" value="previous">Previous</a>
                <button type="submit" name="action" value="next">{{ next_button }}</a>
            </div>
        </div>
    </form>
{% endblock %}