{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block title %}Report - Phishing Training{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
{% endblock %}

{% block page_title %}Report{% endblock %}

{% block content %}
    <div class="report-section">
        <h2>1. Initial Quiz</h2>
        <button type="submit" class="view-report">View Report</button>
    </div>
    <div class="report-section">
        <h2>2. Beginner Level (Basic Awareness)</h2>
        <button type="submit" class="view-report">View Report</button>
    </div>
    <div class="report-section">
        <h2>3. Intermediate Level (Recognizing Attacks)</h2>
        <button type="submit" class="view-report">View Report</button>
    </div>
    <div class="report-section">
        <h2>4. Advanced Level (Handling Phishing Attempts)</h2>
        <button type="submit" class="view-report">View Report</button>
    </div>
{% endblock %}