{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block title %}Training - Phishing Training{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/training.css' %}">
{% endblock %}

{% block page_title %}Training{% endblock %}

{% block content %}
    <div class="training-content">
        <section class="video-section">
            <h2>Video Training</h2>
            <p>Watch the video training to learn more about us.</p>
            <div class="video-placeholder">
                <iframe width="560" height="315" src="https://www.youtube.com/watch?v=eEzD-Y97ges&ab_channel=ChuckScoggins"
            title="Phishing Training Video" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
        <section class="more-about-us">
            <h2>More About Us</h2>
            <p>Welcome to Phishing Tool — your partner in phishing awareness training. Our platform helps users recognize and avoid online scams through interactive quizzes and real-world scenarios. We believe the best defense is education, so we make learning engaging, practical, and effective. Whether you're an individual or an organization, we’re here to build your confidence against phishing threats.</p>
        </section>
    </div>
{% endblock %}