{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="quiz-container">
    <div class="quiz-phishing-sim">

    </div>
    <form>
        <div class="quiz-question">
            <p>3. Which type of phishing attack involves scammers pretending to be a CEO or high-ranking official?</p>
            <label>
                <input type="radio" name="answer" value="male"> Clone Phishing
            </label>
            <br >
            <label>
                <input type="radio" name="answer" value="female"> Whaling
            </label>
            <br >
            <label>
                <input type="radio" name="answer" value="other"> Spear Phishing
            </label>
            <br >
            <label>
                <input type="radio" name="answer" value="other"> Vishing
            </label>
        </div>

        <div class="quiz-question">
            <p>4. You receive a text message claiming you've won a free iPhone, but you must click a link to claim it. What should you do?</p>
            <label>
                <input type="radio" name="answer" value="male"> Click the link and enter your details
            </label>
            <br >
            <label>
                <input type="radio" name="answer" value="female"> Ignore and delete the message
            </label>
            <br >
            <label>
                <input type="radio" name="answer" value="other"> Forward it to your contacts
            </label>
            <br >
            <label>
                <input type="radio" name="answer" value="other"> Reply and ask for more details
            </label>
        </div>

        <div class="quiz-question">
            <p>5. Which of these is a safe practice when dealing with emails?</p>
            <label>
                <input type="radio" name="answer" value="male"> Clicking on email links immediately
            </label>
            <br >
            <label>
                <input type="radio" name="answer" value="female"> Manually typing the website URL into your browser
            </label>
            <br >
            <label>
                <input type="radio" name="answer" value="other"> Downloading attachments from unknown senders
            </label>
            <br >
            <label>
                <input type="radio" name="answer" value="other"> Ignoring emails from your IT department
            </label>
        </div>
    </form>
</div>

{% endblock %}